@charset "utf-8";

/* default style reset
-------------------------------------*/

html {
    background: #fff;
}

body,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

img {
    vertical-align: top;
    width: 100%;
}

address,
caption,
em,
strong,
th {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th,
td {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea,
select {
    *font-size: 100%;
}

a:link {
    text-decoration: none;
    color: #1f54db;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer!important;
}


/*---------------*/


/* body */

body {
    font-family: 'Meiryo', 'Yu Mincho', "MS PGothic", sans-serif;
    font-size: 75%;
    line-height: 1;
    color: #333333;
}


/*---------------*/